# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env
.env.local
*.json

# Docker volumes
data/
models/*.gguf
paddlex_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# HF Spaces
.hf/


sample_docs/
